Write an SQL query to show only odd rows from a table.

select * from (select * , rownum from EMP_TABLE) where mod(rownum,2)<>0

Write an SQL query to clone a new table from another table.


CREATE TABLE EMP_new LIKE EMP_old;
INSERT INTO EMP_new SELECT * FROM EMP_old;