Write an SQL query to determine the 5th highest salary without using TOP or limit
method.

select * from EMP_TABLE order by SALARY desc where rownum = 5

Write an SQL query to fetch the list of employees with the same salary.

SELECT Employee_name, Salary From
(  SELECT Employee_name, Salary, Count(*) Over (Partition by Salary) as Count
 FROM EMP_TABLE
 ) 
WHERE Count>1