Write an SQL query to print the first three characters of  FIRST_NAME from Worker
table.

select substr(FIRST_NAME,1,3) from Worker

Write an SQL query to find the position of the alphabet (‘a’) in the first name
column ‘Amitabh’ from Worker table.
 
select position('a' in FIRST_NAME) from Worker

Write an SQL query to print the name of employees having the highest salary in each
department.

select FIRST_NAME from Worker where salary in (select max(Salary) from Worker)