Write an SQL query to fetch “FIRST_NAME” from Worker table using the alias
name as <WORKER_NAME>

select FIRST_NAME as "WORKER_NAME" from Worker

Write an SQL query to fetch unique values of DEPARTMENT from Worker table.

select distinct DEPARTMENT from Worker

Write an SQL query to show the last 5 record from a table.

select id,* from Worker order by desc limit 5