Write an SQL query to show the top n (say 10) records of a table.


select * from EMP where rownum <=10

Write an SQL query to determine the nth (say n=5) highest salary from a table.

select * from EMP_TABLE order by SALARY where rownum=5